<div id="<%= dom_id climb %>">
  <p>
    <strong>Name:</strong>
    <%= climb.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= climb.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= climb.grade %>
  </p>

</div>
